.start {
  position: relative;
  height: calc(100vh - 74px);
  transition: $duration * 2 cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transform: translateZ(0);
  backface-visibility: hidden; // prevent flickering
  .container {
    position: absolute;
    left: 25vw;
    right: 30vw;
    top: 13em;
    bottom: 11em;
  }
  &[hidden] {
    opacity: 0.1;
    @media (min-width: 768px) {
      filter: blur(8px);
      transform: scale(0.99);
    }
    .article {
      top: 0%;
    }
  }
  @media (max-width: 767px) {
    top: 4em;
    width: 100vw;
    height: auto;
    max-height: calc(100vh - 4em);
    padding: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition-delay: $duration;
    .container {
      position: static;
      padding: 1em 0 1em 36px;
    }
  }
  @media (width: 320px), (width: 375px), (width: 414px) {
    max-height: calc(100vh - 4em - 64px);
  }
}
#start--drawing {
  z-index: -1;
  position: absolute;
  left: -40px;
  right: -40px;
  top: -40px;
  bottom: -40px;
  backface-visibility: hidden; // prevent flickering
  perspective: 1000; // prevent flickering
  svg {
    backface-visibility: hidden; // prevent flickering
    perspective: 1000; // prevent flickering
    line {
      stroke: transparentize($lightblue, 0);
      stroke-width: 0.5;
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}
