.vita {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  height: calc(100vh - 74px);
  box-sizing: border-box;
  padding: calc(24vh - 37px) 249 / 1372 * 100% 0;
  transition: $duration * 2 cubic-bezier(0.645, 0.045, 0.355, 1.000);
  overflow: hidden;
  transform: translateZ(0);
  backface-visibility: hidden; // prevent flickering
  &--image {
    float: right;
    margin-top: 40px;
    width: 303 / 875 * 100%;
    position: relative;
    transition: $duration*2 $duration*1.5 $easeOutBack;
    img {
      width: 100%;
    }
  }
  &--textbox {
    float: left;
    box-sizing: border-box;
    width: 532 / 875 * 100%;
    padding: 40px;
    color: white;
    line-height: 1.4;
    // border: 1px solid hsla(0,0%,100%,0.15);
    background: url(../images/corner_tl.svg) top left,
                url(../images/corner_tr.svg) top right,
                url(../images/corner_br.svg) bottom right,
                url(../images/corner_bl.svg) bottom left;
    background-color: transparentize($color,0.9);
    background-repeat: no-repeat;
    // hyphens: auto;
    p {
      margin-bottom: 0.65em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &[hidden] {
    opacity: 0.1;
    @media (min-width: 768px) {
      filter: blur(8px);
      transform: scale(0.99);
    }
  }
  @media (max-width: 767px) {
    top: 4em;
    left: 25%;
    width: 100vw;
    height: auto;
    max-height: calc(100vh - 4em);
    padding: 0.6em 0 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition-delay: $duration;
    &--image {
      float: none;
      width: auto;
      margin: 0 0 1em;
    }
    &--textbox {
      float: none;
      margin-bottom: 2em;
      width: auto;
      padding: 0 15px;
      background: none;
      hyphens: auto;
      p {
        margin-bottom: 0.5em;
      }
    }
    .seperator {
      margin: 0 auto 2em;
      width: 50%;
      height: 20px;
      display: flex;
      flex-direction: row;
      .circle {
        margin: auto;
        width: 11px;
        height: 11px;
        border-radius: 6px;
        border: 1px solid white;
      }
      .line {
        margin: auto;
        width: 40%;
        height: 1px;
        background: white;
      }
    }
  }
  @media (width: 320px), (width: 375px), (width: 414px) {
    max-height: calc(100vh - 4em - 64px);
  }
}
