.vita {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  transition: $duration * 2 cubic-bezier(0.645, 0.045, 0.355, 1.000);
  overflow: hidden;
  &--image {
    margin-top: calc(24vh + 28px);
    margin-right: 40 / 1372 * 100%;
    margin-left: 20px;
    width: 303 / 1372 * 100%;
    position: relative;
    transition: $duration*2 $duration*1.5 $easeOutBack;
    order: 1;
    @media (max-width: 1180px) {
      width: 418 / 1372 * 100%;
    }
    img {
      width: 100%;
    }
  }
  &--textbox {
    box-sizing: border-box;
    margin-top: calc(24vh - 12px);
    margin-right: 20px;
    margin-left: 249 / 1372 * 100%;
    width: 532 / 1372 * 100%;
    padding: 40px;
    color: white;
    line-height: 1.4;
    background: url(../images/corner_tl.svg) top left,
                url(../images/corner_tr.svg) top right,
                url(../images/corner_br.svg) bottom right,
                url(../images/corner_bl.svg) bottom left;
    background-color: transparentize($color,0.9);
    background-repeat: no-repeat;
    @media (max-width: 1180px) {
      width: 647 / 1372 * 100%;
    }
    @media (max-height: 700px) {
      margin-right: 0;
      padding: 20px;
    }
    p {
      margin-bottom: 0.65em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    abbr {
      border-bottom-color: $lightblue;
    }
  }
  &[hidden] {
    opacity: 0.1;
    @media (min-width: 768px) {
      filter: blur(8px);
      transform: scale(0.99);
    }
  }
  @media (max-width: 767px) {
    top: 4em;
    left: 25%;
    display: block;
    width: 100vw;
    height: auto;
    max-height: calc(100% - 4em);
    padding: 0.6em 0 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition-delay: $duration;
    &--image {
      float: none;
      width: auto;
      max-width: 420px;
      margin: 0 auto 1em;
    }
    &--textbox {
      float: none;
      margin: 0 auto 2em;
      width: auto;
      max-width: 420px;
      padding: 0 15px;
      background: none;
      hyphens: auto;
      p {
        margin-bottom: 0.5em;
      }
    }
  }
}
