.article {
  position: absolute;
  left: 0;
  top: 0;
  width: 40vw;
  max-width: 350px;
  transition: top 600ms;
  &.erkennen {
    left: 12%;
    top: 76%;
  }
  &.loesen {
    left: 60%;
    top: 10%;
    h1 {
      animation-delay: 4300ms;
    }
  }
  &.innehalten {
    left: 42%;
    top: 47%;
  }
  &.entwicklen {
    left: 15%;
    top: 16%;
  }
  &.vertrauen {
    left: 97%;
    top: 30%;
  }
  &.wachsen {
    left: 87%;
    top: 70%;
  }
  &.bewegen {
    left: 60%;
    top: 90%;
  }
  a {
    display: inline-block;
    margin-left: -1.9em;
    padding-left: 1.9em;
    transition: 250ms;
  }
  .circle {
    position: absolute;
    top: 4px;
    left: -20px;
    width: 7px;
    height: 7px;
    border: 2px solid white;
    border-radius: 10px;
    transition: 250ms;
  }
  .cross {
    position: absolute;
    top: 8.5px;
    left: -20.5px;
    width: 12px;
    height: 1px;
    transform: scale(0);
    transition: 250ms;
    div {
      position: absolute;
      width: 12px;
      height: 2px;
      display: block;
      content: '';
      background-color: white;
      transform: rotate(45deg);
      transition: 250ms;
      &:nth-of-type(2) {
        transform: rotate(-45deg);
      }
    }
  }
  h1, .text {
    display: inline-block;
    padding: 3px 5px;
    color: $color;
    background: white;
    transition: 250ms;
  }
  h1 {
    margin-bottom: 2px;
    font-weight: 600;
  }
  .text {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.3;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.98);
    transition: 250ms;
    hyphens: auto;
  }
  &.open {
    z-index: 1;
    .circle {
      transform: scale(0);
    }
    .cross {
      transform: scale(1);
    }
    .text {
      filter: none;
      transform: none;
      opacity: 1;
    }
  }
  &.inactive {
    a {
      opacity: 0.7;
      filter: blur(3px);
      &:focus, &:hover {
        filter: none;
      }
    }
  }
}
