.border {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  backface-visibility: hidden; // prevent flickering
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(../images/bg.jpg) $background bottom center no-repeat;
    background-size: cover;
    transition: 250ms ease-out;
  }
  .line {
    position: absolute;
    background: white;
    &.t {
      left: $mainPadding - 4;
      right: $mainPadding - 4;
      top: $mainPadding - 17;
      height: 1px;
    }
    &.r {
      top: $mainPadding - 4;
      bottom: $mainPadding - 4;
      right: $mainPadding - 17;
      width: 1px;
    }
    &.b {
      left: $mainPadding - 4;
      right: $mainPadding - 4;
      bottom: $mainPadding - 17;
      height: 1px;
    }
    &.l {
      top: $mainPadding - 4;
      bottom: $mainPadding - 4;
      left: $mainPadding - 17;
      width: 1px;
    }
  }
  .circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 10px;
    &.tl {
      left: $mainPadding - 21;
      top: $mainPadding - 21;
    }
    &.tr {
      right: $mainPadding - 21;
      top: $mainPadding - 21;
    }
    &.br {
      right: $mainPadding - 21;
      bottom: $mainPadding - 21;
    }
    &.bl {
      left: $mainPadding - 21;
      bottom: $mainPadding - 21;
    }
  }
  .inner {
    position: absolute;
    top: $mainPadding - 4;
    right: $mainPadding - 4;
    bottom: $mainPadding - 4;
    left: $mainPadding - 4;
    border: 4px solid white;
  }
  @media (max-width: 767px) {
    .line,
    .circle,
    .inner {
      display: none;
    }
  }
}
