.header {
  padding: 2em;
  text-align: center;
  h1 {
    overflow: hidden;
    margin-bottom: 0.3em;
    padding-bottom: 0em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: 3px solid $lightblue;
    white-space: nowrap;
    span {
      display: inline-block;
    }
  }
  h2 {
    display: inline-block;
    margin: 0 0.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: 0.21em;
    font-size: 0.9em;
    color: $lightblue;
  }
}
