.header {
  position: relative;
  margin: 0 auto;
  width: 15em;
  padding: 2em;
  z-index: 10;
  text-align: center;
  line-height: 1em;
  h1 {
    position: relative;
    overflow: hidden;
    margin-bottom: 6px;
    padding: 0;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 0.9;
    // color: transparentize(white, 0.05);
    // letter-spacing: 0.005em;
    border-bottom: 2px solid $lightblue;
    white-space: nowrap;
    transition: $duration $easeOutBack,
                color $duration*2 cubic-bezier(0.645, 0.045, 0.355, 1.000),
                border-color $duration*2 cubic-bezier(0.645, 0.045, 0.355, 1.000);
    @media (max-width: 767px) {
      margin-bottom: 3px;
      font-size: 1.4em;
    }
    &:focus, &:hover {
      padding: 0 4px;
    }
    a {
      display: inline-block;
      // &::after {
      //   position: absolute;
      //   left: 20px;
      //   right: 20px;
      //   bottom: 0;
      //   display: block;
      //   content: '';
      //   border-bottom: 2px solid $lightblue;
      //   transition: $duration $easeOutBack;
      // }
      // &:focus, &:hover {
      //   &::after {
      //     left: 16px;
      //     right: 16px;
      //   }
      // }
    }
  }
  h2 {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: 0.13em;
    font-size: 0.95em;
    color: $lightblue;
    @media (max-width: 767px) {
      font-size: 0.85em;
    }
  }
  h2 span {
    transition: color $duration*2 cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  h2 a {
    position: relative;
    display: inline-block;
    line-height: 0.9;
    transition: $duration * 2 cubic-bezier(0.645, 0.045, 0.355, 1.000);
    &::after {
      z-index: -1;
      display: block;
      position: absolute;
      left: 20px;
      right: 20px;
      content: '';
      border-bottom: 1px solid transparent;
      transition: $duration, left $duration $easeOutBack, $duration right $easeOutBack;
    }
    &:focus, &:hover, &.active {
      // transition-delay: 0s;
      text-shadow: 2px 0 0 $background, -2px 0 0 $background, 1px 0 0 $background, -1px 0 0 $background;
      &::after {
        left: 0.5px;
        right: 2.5px;
        border-bottom-color: $lightblue;
      }
    }
  }
  @media (max-width: 767px) {
    width: auto;
    padding: 1em 1em 0.2em;
  }
}
