.seperator {
  margin: 1em auto -2em;
  width: 8.6em;
  height: 20px;
  display: flex;
  justify-content: space-between;;
  flex-direction: row;
  .circle {
    margin: auto 0;
    width: 9px;
    height: 9px;
    border-radius: 7px;
    border: 2px solid $lightblue;
  }
  .line {
    margin: auto 0;
    width: 40%;
    height: 2px;
    background: $lightblue;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
