@import 'reset';
@import 'fonts';

$color: #2e3d3f;
$lightblue: #a1cad2;
$background: #4e7173;

$duration: 200ms;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

$mainPadding: 34px;


body {
  color: white;
  box-sizing: border-box;
  min-height: 100vh;
  padding: $mainPadding;
  font-size: 15px;
  text-size-adjust: none;
  @media (max-width: 767px) {
    padding: 0;
    font-size: 17px;
    min-height: 0;
  }
}
a {
  text-decoration: none;
  color: inherit;
  &:active {
    opacity: 0.7;
    transition-duration: 0s !important;
  }
}

.main {
  position: absolute;
  left: $mainPadding;
  right: $mainPadding;
  bottom: $mainPadding;
  top: $mainPadding;
  overflow: hidden;
  .scroll-container {
    position: relative;
    height: 400%;
    transition: $duration * 2 cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transform: translate3d(0,0%,0); // activate hardware acceleration
    backface-visibility: hidden; // prevent flickering
    // perspective: 1000; // prevent flickering
  }
  @media (max-width: 767px) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $duration $duration;
    .scroll-container {
      width: 400%;
      height: 100vh;
    }
    &.inactive {
      opacity: 0;
    }
  }
}


@import 'startanimation';

@import 'modules/border';
@import 'modules/header';
@import 'modules/nav';
@import 'modules/start--term';
@import 'modules/windows';

@import 'sites/start';
@import 'sites/vita';
@import 'sites/arbeitsweise';
@import 'sites/kontakt';
