@import 'reset';
@import 'fonts';

$color: #2A2F29;
$lightblue: #ABC8D7;


body {
  color: white;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 38px;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}


@import 'startanimation';

@import 'sites/start';
@import 'sites/vita';

@import 'modules/border';
@import 'modules/header';
@import 'modules/nav';
@import 'modules/article';
